.edit-container {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
}

.edit-container > * {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.mat-flat-button{
  float: right;
  margin: auto;
  padding: 10px;
}
