<!--The content below is only a placeholder and can be replaced.-->

<!--<a routerLink="/users/1">user</a>-->
<!--<a routerLink="/modules">module</a>-->


<!--<router-outlet></router-outlet>-->
<div class="window">
  <aside class="navigation_container">
    <img src="assets/images/logo2.png" class="logo">

    <div class="navigation" *ngIf="isLogged()">
      <a routerLink="/networks" class="navigation_item">networks</a><br>
      <a routerLink="/users/1" class="navigation_item">profile</a>
    </div>

  </aside>

  <div class="header" id="home">
    <div style="font-size: xx-large"><a href="/" style="text-decoration: none; color: black; "><span
      class="headerText"> cho<strong>bot</strong> </span></a></div>
  </div>
  <hr>

  <router-outlet></router-outlet>

  <div class="footer">
    © 2019 chobot_labs Rights Reserved
  </div>

</div>
