<!--The content below is only a placeholder and can be replaced.-->

<!--<a routerLink="/users/1">user</a>-->
<!--<a routerLink="/modules">module</a>-->


<!--<router-outlet></router-outlet>-->
<div class="window">
  <aside>
    <div class="navigation">
      <a routerLink="/networks"> <i class="fa fa-sitemap fa-2x" title="agregace" aria-hidden="true"
                                    style=" margin-left: 23px; margin-top: 15px; color: rgba(0,0,0,0.75)"></i></a><br>
      <!--<a routerLink="/modules"> <i class="fa fa-plug fa-2x" title="agregace" aria-hidden="true"-->
                                   <!--style=" margin-left: 23px; margin-top: 15px; color: rgba(0,0,0,0.75)"></i></a><br>-->

      <a routerLink="/users/1"> <i class="fa fa-user fa-2x" title="agregace" aria-hidden="true"
                                   style=" margin-left: 27px; margin-top: 15px; color: rgba(0,0,0,0.75)"></i></a><br>
    </div>

  </aside>

  <div class="header" id="home">
    <div style="font-size: xx-large"><a href="/" style="text-decoration: none; color: black; "><span
      class="headerText"> cho<strong>bot</strong> </span></a></div>
  </div>
  <hr>

  <router-outlet></router-outlet>

  <div class="footer">

  </div>

</div>
