<mat-tab-group animationDuration="2000ms" (selectedTabChange)="loadLogsAndStatus($event)">
  <mat-tab label="information">
    <div class="edit-container" *ngIf="network != null">
      <mat-form-field>
        <input matInput placeholder="name" [value]="network.name" readonly="true" class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="type" [value]="network.type.name | networkTypePipe" readonly="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="status" [value]="network.status | statusPipe" readonly="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="healtz" [value]="healtz" readonly="true"
               class="disabled_show">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="checkHealtz()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field *ngIf=" network.status== 4">
        <input matInput placeholder="connection uri" [value]="network.connectionUri" readonly="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field *ngIf="network.apiKey != null && network.status== 4">
        <input matInput placeholder="api key" [value]="network.apiKey | passwordPipe" readonly="true"
               class="disabled_show" type="password">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="copyToken()">
          <mat-icon>input</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field *ngIf=" network.status== 4 && is_running == true">
        <input matInput placeholder="docs" value="open swagger docs externally" readonly="true" class="swagger_link" (click)="openSwagger()">

        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="openSwagger()">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="network != null" class="curl">
        <div *ngIf=" network.status== 4">
          <div class="curl-container">
            <div ace-editor
                 [(text)]="curl"
                 [mode]="'python'"
                 [options]="options"
                 [readOnly]="true"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 class="curl_editor">
            </div>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="network != null" class="action_button_container">
      <div *ngIf=" network.status== 4">
        <button mat-flat-button (click)="undeploy()" [disabled]="showProgress">undeploy</button>
      </div>

      <div *ngIf="network.status != 4">
        <button mat-flat-button (click)="deploy()" [disabled]="showProgress">deploy</button>
      </div>

    </div>
  </mat-tab>

  <mat-tab label="swagger docs" *ngIf="network!=null && network.status== 4 && is_running == true">
    <iframe [src]="swagger_url | safe" frameBorder="0" class="swagger_iframe"></iframe>
  </mat-tab>

  <mat-tab label="logs">
    <div class="logs" style="min-height: 80vh ;max-height: 80vh;">
      <mat-form-field class="logs-disabled_show">
        <textarea autosize matInput [value]="logs" [disabled]="true" class="disabled-logs"></textarea>
        <button mat-icon-button (click)="loadLogs()" class="reload_icon">
          <mat-icon aria-label="reload logs">cached</mat-icon>
        </button>
      </mat-form-field>

    </div>


  </mat-tab>

  <mat-tab label="modules">
    <div class="edit-container" *ngIf="network != null">
      <table mat-table [dataSource]="modules" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>type</th>
          <td mat-cell *matCellDef="let element">{{element.type | moduleTypePipe}}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>status</th>
          <td mat-cell *matCellDef="let element">{{element.status | statusPipe}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editModule(row)"></tr>
      </table>
    </div>
    <button mat-flat-button (click)="addModule()">+</button>
  </mat-tab>
</mat-tab-group>














