<mat-tab-group>
  <mat-tab label="information">

    <!--<div *ngIf="showProgress" class="deploy-process">-->
    <!--&lt;!&ndash;<mat-spinner></mat-spinner>&ndash;&gt;-->
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <!--<p><strong>Starting network</strong></p>-->
    <!--</div>-->

    <div class="edit-container" *ngIf="network != null">
      <mat-form-field>
        <input matInput placeholder="name" [value]="network.name" [disabled]="true" class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="type" [value]="network.type.name | networkTypePipe" [disabled]="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="status" [value]="network.status | statusPipe" [disabled]="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="healtz" [value]="healtz" [disabled]="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="connection uri" [value]="network.connectionUri" [disabled]="true"
               class="disabled_show">
      </mat-form-field>

      <mat-form-field *ngIf="network.apiKey != null">
        <input matInput placeholder="api key secret" [value]="network.apiKey" [disabled]="true"
               class="disabled_show">
      </mat-form-field>

      <div *ngIf="network != null" class="curl">
        <div *ngIf=" network.status== 4">
          <div class="curl-container">
            <div ace-editor
                 [(text)]="curl"
                 [mode]="'python'"
                 [options]="options"
                 [readOnly]="true"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 class="curl_editor">
            </div>

          </div>
        </div>
      </div>

      <!--<mat-form-field>-->
      <!--<input matInput placeholder="api key secret" [disabled]=true [value]="network.apiKey" class="disabled_show"-->
      <!--[type]="hide ? 'password' : 'text'">-->
      <!--<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>-->
      <!--</mat-form-field>-->
    </div>

    <div *ngIf="network != null" class="action_button_container">
      <div *ngIf=" network.status== 4">
        <button mat-flat-button (click)="undeploy()" [disabled]="showProgress">undeploy</button>
      </div>

      <div *ngIf="network.status != 4">
        <button mat-flat-button (click)="deploy()" [disabled]="showProgress">deploy</button>
      </div>
    </div>




  </mat-tab>
  <mat-tab label="logs">
    <div class="logs" style="min-height: 80vh ;max-height: 80vh;">
      <mat-form-field class="logs-disabled_show">
        <textarea autosize matInput [value]="logs" [disabled]="true" class="disabled-logs"></textarea>
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="modules">
    <div class="edit-container" *ngIf="network != null">
      <table mat-table [dataSource]="modules" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>type</th>
          <td mat-cell *matCellDef="let element">{{element.type | moduleTypePipe}}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>status</th>
          <td mat-cell *matCellDef="let element">{{element.status | statusPipe}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editModule(row)"></tr>
      </table>
    </div>
    <button mat-flat-button (click)="addModule()">+</button>


  </mat-tab>
</mat-tab-group>














