<table mat-table [dataSource]="networks" class="mat-elevation-z8 network_list_table">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td class="network_list_item" mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>type</th>
    <td class="network_list_item" mat-cell *matCellDef="let element">{{element.type.name | networkTypePipe}}</td>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>status</th>
    <td class="network_list_item" mat-cell *matCellDef="let element">{{element.status | statusPipe}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editNetwork(row)"></tr>
</table>
<!--<h1>predelat jako dropbox</h1>-->
<button mat-flat-button (click)="addNetwork()">+</button>

