table {
  width: 100%;
}


table  {
  transition: none !important;
  box-shadow: none !important;
  padding-bottom: 1em;
}

.network_list_table{
  padding-top: 50px;
}

.network_list_item{
  cursor: pointer;
}

.mat-flat-button{
  float: right;
}
